.App {
  font-family: sans-serif;
  text-align: center;
}

.input {
  margin: 1em;
  padding: 1em;
}

Button {
  min-width: 50%;
}

#micicon {
  position: relative;
  top: 24px;
}

html,
body {
  height: 100%;
  margin: 0em;
}

.multiline {
  width: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  text-align: center;
}

.box .row {
  width: calc(100vw - 2em);
  padding: 1em;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

pre {
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* Modern browsers */
}
